{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maistas i namus</title>
    <script src="{% static "maistas.js" %}"></script>
</head>
<body>
{% if user.is_authenticated %}
    <a href="/accounts/logout/">Log out</a>
{% else %}
    <b>You have to
        <a href="/accounts/login/">log in</a> or
        <a href="/accounts/signup/">sign up</a> to continue</b> <br>
{% endif %}
<h2>Užsakymas</h2>
<form action="order" method="post">
    <div>
        <table>
            {% for food in food_types %}
                <tr>
                    <th>{{ food.food_name }}</th>
                    <th><input type="number" name="{{ food.id }}_quantity" min="0" max="100" value="0"></th>
                </tr>
            {% endfor %}
        </table>
    </div>
    <input type="submit">
</form>
</body>