{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% csrf_token %}
    <meta charset="UTF-8">
    <title>Maistas i namus</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static "maistas.js" %}"></script>
</head>
<body>

Logged in as
{% if is_deliverer %}
    a deliverer
{% endif %}
{{ user.get_username }}

<a href="/accounts/logout/">Log out</a>

    <h2>
        {% if has_order %}
            {% if order_waiting %}
                Order waiting
            {% else %}
                Order is on the way
            {% endif %}
        {% else %}
            Order food
        {% endif %}
    </h2>

{% if not has_order %}
<div id="orderForm">
    <table>
        {% for food in food_types %}
            <tr>
                <th>{{ food.food_name }}</th>
                <th><input type="number" name="{{ food.id }}" min="0" max="100" value="0" id="quantityBox"></th>
            </tr>
        {% endfor %}
    </table>
    <button onclick="orderButton()">Order</button>
</div>
{% else %}
    <a href="/cancelorder/">Cancel order</a>
{% endif %}
</body>